@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Alegreya';
}

main {
  max-width: 700px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Roboto';
}

h3 {
  margin-bottom: 0
}